RewriteEngine On
RewriteCond %{HTTP_HOST} ^supersecure\.wouter-baeyens\.sb\.uclllabs\.be [NC]
RewriteCond %{SERVER_PORT} 80
RewriteRule ^(.*)$ https://supersecure.wouter-baeyens.sb.uclllabs.be/$1 [R,L]

